/*
Theme Name: Tema Webinar
Theme URI: https://wordpress.org/themes/twentysixteen/
Author: the Axioma
Author URI: https://wordpress.org/
Description: Twenty Sixteen is a modernized take on an ever-popular WordPress layout — the horizontal masthead with an optional right sidebar that works perfectly for blogs and websites. It has custom color options with beautiful default color schemes, a harmonious fluid grid using a mobile-first approach, and impeccable polish in every detail. Twenty Sixteen will make your WordPress look beautiful everywhere.
Version: 1.0
*/
body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background: white;
}
html{
	margin: 0 !important;
}

p{
	text-align: left;
}

.ligthbox-clock{
	display: inline-block;
}
.tab-content{
	display: none;
	position: fixed;
	top: 0% !important;
	left: 0% !important;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.error404{
	display: inline-block;
	text-align: center;
	color: white;
	background-image: url('img/bg404.jpg');
	background-size: cover;
	background-position: bottom;
	width: 212vh;
	height: 44vw;
}
.parrafo{
	margin-bottom: 10px;
}
.errortxt h1{
	font-size: 85px;
	margin: 0;
	line-height: 50px;
}
.errortxt h2{
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 400;
	letter-spacing: 2px;
}
.errortxt{
	 margin-top: 178px;
}
.btn404{
	background: white;
	padding: 10px 29px;
	color: #112D4E;
	border-radius: 50px;
	text-decoration: none;
	font-weight: 800;
	box-shadow: 2px 3px 2px #000000;
}

.tab-loader{
	position: fixed;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	z-index:1002;
	overflow: auto;
  display: none;
  background-image: url("img/ajax-tab-loader-puntos.gif");
  background-size: 160px 160px;
  background-repeat: no-repeat;
  background-position: center;
}
.tab-loader.loading{
    display: block;
}
.tab-loader.loading+.tab-content{
    display: none;
}

#redes-sociales{
	margin-top: 7px;
}
.margin{
	width: 80%;
	margin: auto;
}
.guardar{
	width: 100%;
	font-size: 30px;
	padding: 5px 0;
	margin: 15px 15px;
	color: white;
	font-weight: 400;
}
.end{
	padding: 25px;
}
#sectionDateTime{
	width: 100%;
	background: #dbe2ef;
	color: #112d4e;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
  justify-content: center;
  /*padding: 2% 0;*/
}
.terminos{
	color: black;
	text-decoration: underline;
}
#sectionOrg{
	padding: 20px;
	background: white;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
#wb-caledar{
	width: 100%;
  text-align: center;
	padding-bottom: 35px;
	background: #112d4e;
	display: flex;
	flex-wrap: wrap;
}
.exponentes-margin{
	margin: auto;
}

#exponentes{
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 80%;
}

.sectionDatos li{
	list-style:none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	margin-top: 30px;
}
.sectionDatos li img{
	width: 100px;
	/*margin: 10px;*/
	border-radius: 80%;
	margin: 0 10px;
	margin: 10px 0;
	height: 100px;
}
.form-registro{
	margin-bottom: 23px;
    margin-top: 0;
}

.nombreOrg{
	font-weight: 900;
	color: #112D4E;
}
.infOrg{
	text-align: left;
}
.sectionDatos li label{
display: block;
margin: 0 10px;
}
.countdown{
	text-align: center;
	color: #112d4e;
	width: 610px;
}
.infOrg{
	display: inline-block;
	vertical-align: top;
	width: 70%;
}
.clock{
	margin: 0;
	display: flex;
	justify-content: center;
}
.format{
	font-weight: 900;
	font-size: 30px;
	margin: 15px 40px 15px 0;
}

.faltan h2{
	margin: 0;
	font-size: 35px;
	margin-right: 35px;
}
.btDatos {
	text-align: center;
}

.btDatos a{
	padding: 8px;
	color: white;
	border-radius: 50px;
	text-decoration:none;
	border: solid 2px red;
	display: inline-block;
	vertical-align: top;
	font-weight: 700;
}

#logo img{
	width: 150px;
	border-radius: 50%;
}
#logo{
	margin-right: 50px;
	border-radius: 50%;
}
.btnexpo:hover{
	background: #ced6e6;
}
.btnexpo{
	background: white;
    padding: 10px 40px;
    color: #112D4E;
    border-radius: 50px;
    text-decoration: none;
    width: 118px;
    font-weight: 800;
		box-shadow: 2px 3px 2px #000000;
}
.li{
	width: 90%;
}
.btnunase:hover{
	color: white;
	background: #314761;
}

#btcta{
	text-align: left;
}
.btnunase{
	background: #112d4e;
	padding: 10px 40px;
	color: white;
	border-radius: 50px;
	text-decoration: none;
	width: 80px;
	font-weight: 900;
	box-shadow: 2px 3px 2px #afafaf;
}
.btncalendar{
	text-align: center;
	align-items: center;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.btnform1:hover{
	background: #314761;
}
.btnform1{
	background: #112d4e;
	padding: 10px 40px;
	color: white;
	border-radius: 50px;
	text-decoration: none;
	width: 80px;
	font-weight: 900;
	box-shadow: 2px 3px 2px #afafaf;
}
.btcta:hover{
	background: #c2c9d8;
}
.btcta{
background: white;
padding: 10px 40px;
color: #112D4E;
border-radius: 50px;
text-decoration: none;
width: 118px;
font-weight: 400;
margin: 10px;
box-shadow: 1px 1px 10px black;
}
#btEnviar:hover{
	color: white;
	background: #314761;
}
#btEnviar{
	padding: 8px 25px;
  color: white;
  border-radius: 50px;
  text-decoration: none;
	background: #112d4e;
	cursor: pointer;
	border: none;
	box-shadow: 2px 3px 2px #afafaf;
}
.section{
	background-image: url("images/background-webinar.jpg");
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 100%;
	padding: 45px 0;
	justify-content: space-around;
	background-size: cover;
	background-position-y: -160px;
}
.vivo{
	display: inline-block;
}
#sectionForm{
	padding: 0 25px 25px 25px;
	background: rgb(219, 226, 239);
	border-radius: 13px;
	display: flex;
	box-shadow: 1px 2px 24px #000000;
	align-items: center;
  justify-content: center;
	text-align: center;
	width: 250px;
}

#formRegistro{
	background: #dbe2ef;
}
#sectionInf{
	width: 50%;
	vertical-align: top;
	color: white;
	/*position: relative;*/
}
.title{
	margin-top: 10px;
	margin-bottom: 0;
}

#sectionDate img{
	width: 50px;
	height: 50px;
	position: absolute;
}

#sectionDate{
	color: #112d4e;
	text-align: center;
	background: #DBE2EF;
	padding: 0;
	position: absolute;
}

#date{
	display: inline-block;
  left: 60px;
}
.ligthbox-clock{
	display: flex;
}

#sectionForm li
{
	list-style:none;
}
#invitados li input
{
	width:100%;
	height: 100%;
}

#invitados li
{
	margin: 10px;
	list-style:none
}
#sectionForm li input
{
	width:100%;
	padding: 10px;
	border-radius: 3px;
	margin: 5px 0;
}
 #sectionForm label{
 	display: inline-block !important;
 	margin-bottom: 10px;
	margin-top: 5px;
 }
.pop-text{
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #112d4e
}
.labelForm{
	width: 200px;
}

#dateTime{
	display: none;
}

#form-invitacion{
	text-align: center;
	background: rgb(219, 226, 239);;
}

#form-invitacion p{
	text-align: center;
}

.form-error, .formReq{
	color:red;
	float: left;
	font-size: 14px;
}
.nombreInv, .emailInv{
	width: 91% !important;
  padding: 8px;
  border-radius: 3px;
  margin: 5px 0;
}

#check{
	width: 30px;
	height: 30px;
	display: -webkit-inline-box;
}
#btInvitados input, #btInvitar, .bt{
	font-weight: 400;
}

#btInvitar{
	display: block;
	margin: auto;
	margin-bottom: 20px;
}

#cont #contExitoso{
display: inline-block;
vertical-align: top;
}

#cont #contExitoso p{
margin: 10px 0;
text-align: center;
}

#invitados {
	text-align: left;
}

#btInvitados{
display: none;
}

#btInvitados input, #btInvitar, .bt{
display: inline-block;
vertical-align: top;
margin: 5px;
width: 100px;
padding: 8px;
cursor: pointer;
}
.fancybox-slide>*{
	border-radius: 10px !important;
}

.titlePerson{
	display: block;
	margin-bottom: 10px;
	color: red;
}

/*-----------Lightbox-----------*/
.hidden{
    display:none !important;
}
.black_overlay{
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: block;
    position: fixed;
    z-index: 9999;
    padding: 15px;
    background-color: white;
    overflow: auto;
    left: 38%;
    top: 20%;
    width: 22%;
}

#contentRegistro{
    height: 16%;
}

.content_publicidad{
    position: fixed;
    z-index: 9999;
    left: 30%;
    top: 12%;
    background-color: white;
    overflow: auto;
}
#logo img{
	width: 130px;
	height: 130px;
}

#closePublicidad{
    position: absolute;
    right: 5px;
    top: 5px;
}
#form-invitacion p{
	font-weight: 600;
	margin: 0;
}

.close {
    position: absolute;
    right: 5px;
    top: 5px;
    text-decoration:none;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:22px;
    color:black;
    cursor: pointer;
}
.img-social{
	width: 25px !important;
	height: 25px !important;
	margin: 0 !important;
}
.redes{
	margin-left: 10px;
}
#redes-sociales{
	margin-top: 10px;
}
#cont{
    width: 100%;
    height: 100%;
    text-align: center;
		font-weight: 500;
		color: #112d4e;
}
.url-webinar{
	margin-bottom: 0;
}
.fancybox-close-small:after{
	background: #112d4e !important;
	color: white !important;
}
@media screen and (max-width: 850px)
{
	.section{
		text-align: center;
		padding: 0 0 40px 0;
	}
	#sectionForm{
		width: 250px;
		margin-top: 10%;
	}
	.btnunase{
		margin-right: 0;
	}
	.faltan h2{
		margin-left: 8px;
	}
	#sectionInf{
		text-align: left;
		margin-top: 30px;
	}
	.url-webinar{
		margin-bottom: 25px;
	}
}
@media screen and (max-width: 660px)
{
.section{
	text-align: center;
	padding: 0 0 40px 0;
}
	#sectionForm{
		width: 250px;
	}
	#sectionInf{
		width: 85%;
		margin-top: 30px;
	}
	.format{
		margin: 15px 20px 15px 0;
	}
	.countdown{
		width: 85%;
	}
	.faltan{
		margin-top: 3%;
	}
	.btnunase{
		margin-right: auto;
		margin-bottom: 30%;
		margin-top: 30%;
	}
	#btcta{
		margin-bottom: 34px;
		margin-top: 10px;
		text-align: center;
	}
	.sectionDatos li{
		width: 100%;
	}
	.faltan h2{
		margin-right: 0;
	}
	.faltan{
		margin-right: 0;
	}
	.format{
		margin: 12px;
	}
	.url-webinar{
		margin-bottom: 33px;
		margin-top: 25px;
	}
}

@media screen and (max-width: 470px)
{
	#exponentes{
		display: flex;
	}
	.infOrg{
		text-align: center;
	}
	#sectionForm{
		width: 65%;
		margin-top: 10%;
	}
	#btcta{
		margin-top: 5%;
	}
	#sectionInf{
		width: 85%;
		margin-top: 30px;
	}
	.clock{
		justify-content: flex-start;
	}
	.url-webinar{
		margin-bottom: 33px;
		margin-top: 25px;
	}

	.countdown{
		width: 88%;
		font-size: 12px;
	}
	.btnunase{
		margin-top: 30%;
	}
	.faltan{
		text-align: center;
		align-items: center;
		margin-top: 12px;
	}
	.format{
		font-size: 25px;
		width: 50%;
	}
	.btcta{
		display: inline-block;
	}
	.faltan h2{
		margin: 0;
	}

}
@media screen and (max-width: 360px)
{
	#sectionForm{
		width: 78%;
		margin-top: 10%;
	}
	.ligthbox-clock{
		display: inline-block;
	}
	#btcta{
		margin-top: 5%;
	}
	#sectionInf{
		width: 85%;
		margin-top: 30px;
	}
	.clock{
		justify-content: flex-start;
	}
	.countdown{
		width: 87%;
		font-size: 12px;
	}
	.btnunase{
		margin-top: 30%;
	}
	.faltan{
		text-align: center;
		align-items: center;
		margin-top: 12px;
	}
	.format{
		font-size: 22px;
		width: 100%;
	}
	.btcta{
		display: inline-block;
	}
	.faltan h2{
		margin: 0;
	}
	.sectionDatos li{
		flex-wrap: wrap;
	}
	.infOrg{
		text-align: center;
	}

}
